.aboutus {
    background-color: #353c65;
    padding-top: 5%;
    padding-bottom: 5%;
      

}


.aboutus-raw {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
}

.aboutus-item {
    width: 370px;
    margin-right: 30px;
    
}



.aboutus-item:last-child{
    margin-right: 0px;
}


.aboutus-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: $_18px;
    line-height: 21px;
    color: $_white;
    margin-bottom: 29px;
    text-align: center;
}

#share {
    margin-bottom: 48px;
}
.aboutsus-discription {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: $_18px;
    line-height: 21px;
    color: #fff;
    text-align: center;
}

.user-social {
    display: flex;
    justify-content: center;
    
}
.user-icon {
    margin-right: 26px;
    width: 39px;
    height: 39px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    
       
}

.user-icon:last-child {
    margin-right: 0px;
}


@media (max-width: 1024px) {
    .aboutus {
        
        padding: 45px 0px;
              
    }

    .aboutus-raw {
        margin: 0px;
       
    }

    .aboutus-item {
        width: 315px;
        margin-right: 20px;
        
    }

    .aboutus-title {
        
        font-size: 14px;
        line-height: 16px;
        
    }
    
    #share {
        margin-bottom: 32px;
}
.aboutsus-discription {
    
    font-size: 14px;
    line-height: 16px;
    
}

.user-icon {
    margin-right: 22px;
    width: 33px;
    height: 33px;
        
       
}
}

@media (max-width: 790px) {
    .aboutus {
        
        padding: 34px 0px;
              
    }

    .aboutus-raw {
        flex-direction: column;
        margin: 0px;
        align-items: center;
       
    }

    .aboutus-item {
        width: 315px;
        margin-right: 0px;
        margin-bottom: 69px;
        width: 280px;

        
    }

    .aboutus-item:last-child {
        
       
        margin-bottom: 0px;
       

        
    }

    .aboutus-title {
        
        font-size: 14px;
        line-height: 16px;
        
    }
    
    #share {
        margin-bottom: 36px;
}
.aboutsus-discription {
    
    font-size: 14px;
    line-height: 16px;
    
}

.user-icon {
    margin-right: 22px;
    width: 33px;
    height: 33px;
        

}
}