.portholio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
    
    
}



.portholio-item {
    position: relative ;
    width: 25%;

    &:hover {
        .portholio-information {
            display: block;
        }
    }

    &:active {
        .portholio-information {
            display: block;
            background-color:rgba(185, 12, 12, 0.8);
            border:2px solid #FFFFFF;
        }

    }
    
}

.portholio-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgba(255, 67, 67, 0.8);
    border: 2px solid #FFFFFF;
    width: 100%;
    height: 100%;
    
    
    
}


.portholio-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: $_24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30.3%;
    
    
}
.portholio-discription {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: $_18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 12%;
    text-align: center;
   
}





.portholio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    

 
    
}


@media (max-width: 790px) {

    .portholio-item {
         width: 50%;
    }

    .portholio-title {
       
        font-size: 18px;
        line-height: 21px;
        
        
        
    }

    .portholio-discription {
        
        font-size: 14px;
        line-height: 16px;
        
       
    }
    
        

}

