// font-size
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;

// color
$_normal_red: #FF4343;
$_hover_red: #E71414;
$_active_red: #FF4343;
$_white: #fff;